@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Lato-Bold";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.popup__fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.form-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-popup__input {
  width: 220px;
  color: #676767;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding: 15px;
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
  position: relative;
}

.form-popup__input::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 13px;
  top: 0;
  right: 0;
  background-image: url("../images/icons/user.png");
}

.popup {
  position: fixed;
  z-index: 51;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0deg);
          transform: perspective(600px) translate(0, 0) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 38px 50px 43px 50px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: -30px;
  background: url("../images/icons/close.png");
}

.popup__title {
  color: #151515;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
}

.popup__text {
  margin-top: 6px;
}

.popup__disc {
  color: #151515;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}

.popup__form {
  margin-top: 8px;
}

.popup__input {
  margin-top: 10px;
}

.popup__input-name {
  position: relative;
}

.popup__input-name::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 14px;
  top: 55%;
  right: 15px;
  background-image: url("../images/icons/user.png");
  background-repeat: no-repeat;
  z-index: 53;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup__input-tel {
  position: relative;
}

.popup__input-tel::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 55%;
  right: 15px;
  background-image: url("../images/icons/tel.png");
  background-repeat: no-repeat;
  z-index: 53;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup__input-mail {
  position: relative;
}

.popup__input-mail::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  top: 55%;
  right: 15px;
  background-image: url("../images/icons/mail.png");
  background-repeat: no-repeat;
  z-index: 53;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup__form-btn {
  margin-top: 15px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 13px 42px;
  border-radius: 22px;
  border: 1px solid #d91233;
  background-color: #d91233;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.popup__form-btn:hover {
  background-color: transparent;
  border: 1px solid #d91233;
  color: #000;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

/* Контейнер, общий размер контента*/

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

body.lock {
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.contact__tel {
  color: #ffffff;
  font-family: Lato;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact__back {
  margin-top: 3px;
}

.contact__back-link {
  color: #d91233;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.links-btn {
  display: block;
  color: #ffffff;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #d91233;
  background-color: #d91233;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  padding: 16px 56px;
}

.links-btn:hover {
  background-color: transparent;
  border: 1px solid #d91233;
  color: #000;
}

.header {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  padding: 20px 0 85px 0;
  background-color: rgba(33, 33, 33, 0.85);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 145px;
}

.header__contact {
  text-align: right;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__title {
  margin-top: 110px;
}

.header__title-item {
  color: #ffffff;
  font-family: Lato;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__title-disc {
  margin-top: 15px;
  color: #ffffff;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 46px;
  opacity: 0.7;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__info-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 100px 0 0 100px;
}

.header__info-content:first-child {
  margin-left: 0;
}

.header__info-img {
  width: 64px;
  height: 64px;
}

.header__info-disc {
  margin-top: 25px;
  width: 147px;
  color: #ffffff;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 100px;
}

.header__links-content {
  margin-left: 40px;
}

.header__links-content:first-child {
  margin-left: 0;
}

.header__links-btn {
  margin-bottom: 20px;
}

.header__links-btn a:hover {
  color: #ffffff;
}

.header__links-disc {
  margin: 0 auto;
  max-width: 154px;
  color: #ffffff;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 18px;
}

@media (max-width: 1500px) {
  .header__title {
    margin-top: 60px;
  }

  .header__title-item {
    font-size: 40px;
  }

  .header__info-content {
    margin: 40px 0 0 40px;
  }

  .header__links {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .header__title-item {
    font-size: 35px;
  }

  .header__title-disc {
    font-size: 22px;
    margin-top: 5px;
  }

  .header__info-content {
    margin: 25px 0 0 40px;
  }

  .header__info-img {
    width: 35px;
    height: 35px;
  }

  .header__links {
    margin-top: 75px;
  }
}

@media (max-width: 655px) {
  .links-btn {
    font-size: 14px;
  }

  .header__title-item {
    font-size: 30px;
  }

  .header__title-disc {
    font-size: 20px;
  }

  .header__info-disc {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__info-content {
    margin: 25px 0 0 0;
  }
}

@media (max-width: 500px) {
  .contact__tel {
    font-size: 20px;
  }

  .contact__back-link {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .popup__close {
    top: 8px;
    right: 8px;
  }
}

@media (max-width: 350px) {
  .logo__img {
    width: 130px;
  }
}
@supports (-webkit-appearance:none){
.form-popup__input::before{background-image:url("../images/icons/user.webp")}
.popup__close{background:url("../images/icons/close.webp")}
.popup__input-name::before{background-image:url("../images/icons/user.webp")}
.popup__input-tel::before{background-image:url("../images/icons/tel.webp")}
.popup__input-mail::before{background-image:url("../images/icons/mail.webp")}
}

 @media (max-width: 1500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 655px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 550px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 350px){

@supports (-webkit-appearance:none){

}

}
