@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Контейнер, общий размер контента*/

.container {
  max-width: 940px;
  margin: 0 auto;
}

body {
  font-family: lato sans-serif;
}

/* Header css*/

.header {
  background: url("../images/header-bg.jpg") 50% top no-repeat;
  height: 790px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.header__contact {
  text-align: right;
}

.header__contact-phone {
  color: #ffffff;
  font-family: Lato;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__contact-link {
  display: inline-block;
  color: #d91233;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.header__center {
  margin-top: 110px;
}

.header__title {
  color: #ffffff;
  text-align: center;
  font-family: "Lato";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__center-disc {
  margin-top: 25px;
  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.header__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 190px;
}

.header__delivery {
  text-align: center;
}

.header__price-item {
  width: 132px;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}

.logo {
  margin-top: 14px;
}

/*Section Services*/

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__content {
  max-width: 235px;
  width: 100%;
  margin: 80px 35px 0 35px;
  text-align: center;
}

.services__img {
  margin-bottom: 30px;
}

.services__title {
  text-align: center;
  margin-bottom: 20px;
}

.services__title-item {
  color: #000000;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

.services__disc {
  max-width: 218px;
  width: 100%;
}

.services__disc-item {
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}
@supports (-webkit-appearance:none){
.header{background:url("../images/header-bg.webp") 50% top no-repeat}
}
